@import "tailwindcss";

:root {
  --background: #fdf6ee;
  --foreground: #3e2f20;
  --primary: #d87d4a;
  --primary-hover: #a34f20;
  --card-bg: #fff7ed;
  --card-border: #f1e8dd;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
